body {
	text-align: center;
	color: #444;
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	font-weight: normal;
	height: 32px;
	letter-spacing: normal;
	line-height: 32px;
	padding: 3em;
}

p {
	text-align: center;
}

.gauge {
	position: relative;
}

.gauge--container {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 50%;
	overflow: hidden;
	text-align: center;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		 -o-transform: translateX(-50%);
			transform: translateX(-50%);
}

.gauge--background {
	z-index: 0;
	position: absolute;
	background-color: #C0D3D3;
	top: 0;
	border-radius: 300px 300px 0 0;
}

.gauge--center {
	z-index: 2;
	position: absolute;
	background-color: #fff;
	margin-right: auto;
	border-radius: 300px 300px 0 0;
}

.gauge--marker {
	z-index: 3;
	background-color: #fff;
	position: absolute;
	width: 1px;
}

.gauge--needle {
	z-index: 4;
	background-color: #F77C15;
	height: 3px;
	position: absolute;
	-webkit-transform-origin: left center;
	   -moz-transform-origin: left center;
		-ms-transform-origin: left center;
		 -o-transform-origin: left center;
			transform-origin: left center;
}

.gauge--labels {
	display: table;
	margin: 0 auto;
	position: relative;
}

.gauge--label__low {
	display: table-cell;
	text-align: center;
}

.gauge--label__spacer {
	display: table-cell;
}

.gauge--label__high {
	display: table-cell;
	text-align: center;
}

.gauge { height: calc(120px + 3em); }
.gauge--container { width: 240px; height: 120px; }
.gauge--marker { height: 120px; left: 119.5px; }
.gauge--background { width: 240px; height: 120px; }
.gauge--center { width: 144px; height: 72px; top: 48px; margin-left: 48px; }
.gauge--needle { left: 120px; top: 117px; width: 120px; }
.gauge--labels { top: 120px; width: 240px; }
.gauge--label__low { width: 48px; }
.gauge--label__spacer { width: 144px; }
.gauge--label__high { width: 48px; }

 @media only screen and (min-width: 400px) {
	.gauge { height: calc(150px + 3em); }
	.gauge--container { width: 300px; height: 150px; }
	.gauge--marker { height: 150px; left: 149.5px; }
	.gauge--background { width: 300px; height: 150px; }
	.gauge--center { width: 180px; height: 90px; top: 60px; margin-left: 60px; }
	.gauge--needle { left: 150px; top: 147px; width: 150px; }
	.gauge--labels { top: 150px; width: 300px; }
	.gauge--label__low { width: 60px; }
	.gauge--label__spacer { width: 180px; }
	.gauge--label__high { width: 60px; }
}

.gauge__liveupdate, .gauge__liveupdate .gauge--needle {
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
.gauge--needle {
	-webkit-transform: rotate(-.50turn);
	   -moz-transform: rotate(-.50turn);
		-ms-transform: rotate(-.50turn);
		 -o-transform: rotate(-.50turn);
			transform: rotate(-.50turn);
}